<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
  <div class="wrapper">
    
    <section class="page-content">
      <div class="wrapper">
      <p class="about-link"><a href="#about">About</a></p>
          {% if page.url == "/" %}
            {% assign demo_items = site.pages | sort: 'date' | reverse %}
            {% for demo in demo_items limit:1 %}
              {% if site.baseurl == "/" %}
                {% assign demo_url = site.baseurl | append: "demos_src/" | append: demo.src %}
              {% else %}
                {% assign demo_url = site.baseurl | append: "/demos_src/" | append: demo.src %}
              {% endif %}
              {% assign active_demo = demo.title %}
              {% assign mypage = demo %}
            {% endfor %}
            
          {% else %}
            {% assign demo_url = "../demos_src/" | append: page.src %}
            {% assign active_demo = page.title %}
            {% assign mypage = page %}
          {% endif %}

          <iframe src="{{ demo_url }}" frameborder="0"></iframe>

          <div class="about-sidebar" id="about">
            <div class="close-button"><a href="#">x</a></div>
            <div class="about-container">
              <h1>About This Demo</h1>
              
              <!-- {{ mypage.categories }} -->
              {{ mypage.content }}

            </div>
          </div>
      </div>
    </section>
    <aside class="sidebar">
      <div class="logo">
        <h1><a href="{{ site.baseurl }}">Alan's Demos</a></h1>
      </div>
      <div class="list-container">
        <ul class="demo-list">
        {% assign items = site.pages | sort: 'date' | reverse %}
        {% for demo in items %}
          {% if demo.categories contains 'demos' %}
          <li>
              <a class="demo-link {% if active_demo == demo.title %}demo-active{% endif %}" href="{{ demo.url | relative_url }}">{{ demo.title | escape }}</a>
          </li>
          {% endif %}
        {% endfor %}
       </ul>
      </div>
      
    </aside>
    
  </div>

  </body>


</html>
